<html lang="pt-BR">
  {{> head }}
  <body>
    <main
      style="
        background-color: #fff;
        margin: 3rem 0;
        border-radius: 1.2rem;
        overflow: hidden;
      "
    >
      <div
        style="
          padding: 3rem 2rem;
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
        "
      >
        <h2 style="font-size: 1rem; font-weight: 600">Olá,</h2>
        <p style="font-size: 1rem; max-width: 35rem">
          Recebemos uma solicitação para redefinir sua senha. Se você não fez essa solicitação, pode ignorar este e-mail. Caso contrário, utilize o código abaixo para redefinir sua senha.
        </p>
        <p style="font-size: 1rem; max-width: 35rem; text-align: center;">
          Basta inserir o código no campo de redefinição de senha.
        </p>
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 1rem 0;
          "
        >
          <strong style="font-size: 4rem; letter-spacing: 4"> {{code}} </strong>
          <span>
            O código expira em 10 minutos.
          </span>
        </div>
      </div>
    </main>
  </body>
</html>
